@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');
body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    height: 100vh;
    background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
    background-position: -30% 300%, 130% -240%;
    background-repeat: no-repeat, no-repeat;
    background-color: hsl(185, 75%, 39%);
}

h1,
h3 {
    margin-bottom: 2px;
    font-weight: 700;
}

hr {
    border-style: none;
    border-top: 1px solid hsl(0, 0%, 59%);
}

h2 {
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 25px;
    color: hsl(0, 0%, 59%);
}

span {
    color: hsl(0, 0%, 59%);
    font-weight: 400;
    padding-left: 10px;
}

p {
    font-size: 12px;
    color: hsl(0, 0%, 59%);
    letter-spacing: 0.1rem;
}

img {
    margin-top: -50px;
    border: 5px #fff solid;
    border-radius: 100%;
}

.card {
    left: 39%;
    background-color: #fff;
    text-align: center;
    width: 400px;
    height: 400px;
    position: relative;
    top: 25%;
    border-radius: 20px;
    box-shadow: 0 0 10px -5px;
}

.header-pattern {
    border-radius: 20px 20px 0 0;
    height: 147px;
    background-image: url("images/bg-pattern-card.svg");
}

.inline {
    width: 100px;
    display: inline-block;
}

.attribution {
    position: fixed;
    bottom: 10px;
    left: 42%;
    font-size: 11px;
}